<ul class="list-unstyled">
  <% posts.each do |post| %>
    <div>
      <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= post.created_at %></span>
    </div>
    <div>
          <%= render "likes/like_button", post: post %>
        </div>
    <div class="card" style="width: 50rem;">
      <div class="card-img-top">
          <%= image_tag post.image.url if post.image? %>
        </div>
      <div class="row no-gutters">
        <div class="col-sm-12">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.content %></p>
          </div>
        </div>
        <div>
          <% if current_user == post.user %>
            <%= link_to "編集", edit_post_path(post.id), class: 'btn botton btn-sm' %>
          <% end %>
        </div>
        <div>
          <% if current_user == post.user %>
            <%= link_to "削除", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
  <%= paginate posts %>
</ul>